* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $jk-default-body-color;
	margin: 0;
	font-family: $jk-default-font-family;
}

// Bootstrap's Navbar overwrites

.navbar-default {
	.navbar-brand {
		transition: $jk-default-transition;
		color: $jk-header-logo-link-color;
		
		&:hover {
			color: $jk-header-logo-link-color-hover;
		}
		
		&:focus {
			color: $jk-header-logo-link-color;
		}
	}
}

.navbar-default {
	.navbar-nav>li>a {
		transition: $jk-default-transition;
		line-height: 30px;
		color: $jk-header-menu-link-color;
		
		&:hover {
			color: $jk-header-menu-link-color-hover;
		}
		
		&:focus {
			color: $jk-header-menu-link-color;
		}
	}
}

.navbar-default {
	.navbar-toggle {
		transition: $jk-default-transition;
		background-color: $jk-header-menu-toggle-border-color;
		padding: 0;
		
		&:hover,
		&:focus {
			background-color: $jk-header-menu-toggle-border-color;
		}
		
		.icon-bar {
			position: relative;
			transition: transform .32s, opacity .32s, top .32s;
			background-color: $jk-header-menu-toggle-border-color;
			
			&:nth-child(2) {
				top: 6px;
				transform: rotate(135deg);
			}
			
			&:nth-child(3) {
				opacity: 0;
			}
			
			&:nth-child(4) {
				top: -6px;
				transform: rotate(225deg);
			}
		}
		
		&.collapsed {
			.icon-bar {
				
				&:nth-child(2) {
					top: 0;
					transform: rotate(0deg);
				}
				
				&:nth-child(3) {
					top: 0;
					opacity: 1;
				}
				
				&:nth-child(4) {
					top: 0;
					transform: rotate(0deg);
				}
			}
		}
	}
}